---
title: Kelly McCann
---

<%= partial "partials/nav" %>

<%#  apply core width and margins to content blocks - to remove, add the below individually to independent modules %>

<div class="u-max-width-content-narrow u-margin-right-2-max-content u-margin-left-2-max-content">


  <%= partial "partials/welcome" %>
  <%= partial "partials/skillz" %>
  <%= partial "partials/werk" %>


</div>


<%# example of how to sync data with partial %>
  <%# <%= partial("partials/hero", :locals => {
  :title => data.heroes.families.title,
  :body => data.heroes.families.body,
  :image => data.heroes.families.image }) %>


<%= link_to(
  "Link to middleman templating lang",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
