---
title: Kelly McCann Designs Things!
---

<%= partial "partials/nav" %>

<%#  apply core width and margins to content blocks - to remove, add the below individually to independent modules %>

<div class="[ u-background-hero ]">
  <div class="[ u-max-width-content-narrow u-margin-right-2-max-content u-margin-left-2-max-content ]">
    <%= partial "partials/welcome" %>
  </div>
</div>

<%= partial "partials/industries" %>

<div id="about" class="[ u-background-color-white u-border-dashed-bottom ]">
  <div
    class="[ u-max-width-content-narrow u-padding-top-6 u-padding-bottom-3 u-margin-right-2-max-content u-margin-left-2-max-content ]">
    <%= partial "partials/skillz" %>
  </div>
</div>

<%= partial "partials/ethos" %>

<!-- <div class="[ u-background-shapes ]"> -->
<div id="work"
  class="[ u-max-width-content-narrow u-margin-right-2-max-content u-margin-left-2-max-content u-padding-top-6 u-padding-bottom-4 ] ">
  <%= partial "partials/werk" %>
</div>
<!-- </div> -->
<%= partial "partials/shapes-stripe" %>

<div id="contact" class="[ u-background-color-lt-tan u-border-dashed-top ]">
  <div
    class="[ u-max-width-content-narrow u-padding-top-6 u-padding-bottom-4 u-margin-right-2-max-content u-margin-left-2-max-content ]">
    <%= partial "partials/contact" %>
  </div>
</div>

<div class="[ u-background-color-black ]">
  <div class="[ u-padding-top-2 u-padding-bottom-2 u-margin-right-2 u-margin-left-2 ]">
    <%= partial "partials/footer" %>
  </div>
</div>



<%# example of how to sync data with partial %>
<%# <%= partial("partials/hero", :locals => {
  :title => data.heroes.families.title,
  :body => data.heroes.families.body,
  :image => data.heroes.families.image }) %>